@charset "utf-8";

/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea,{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}
/* ========================================
    全体設定
========================================= */
body {
	color:#474747;
	font-size: 14px;
	line-height: 1.4em;
	font-family: "メイリオ", "Meiryo", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color:#474747;
	text-decoration:none;
}


/* micro clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {clear: both;}
.cf {*zoom: 1;}



/* body共通 */
body {
  margin: 0;
}

/* ヘッダーここから */
header {
  background: #fff;
  height: 60px;
  display: flex;
  padding: 0 5%;
  justify-content: space-between;
  align-items: center;
}

header .header_title {
  height: 37px;
  font-weight: bold;
  font-style: normal;
  line-height: 37px;
  font-size: 32px;
  color: black;
  display: inline-block;
  margin: 12px 0 11px 10px;
  font-family: Arial;
}

header .header_title:hover {
  color: #e65f78;
}

header nav ul{
  height: 50px;
  display: flex;
  margin-top: 30px;
}

header nav ul li a{
  color: black;
  margin-left: 30px;
  font-size: 16px;
}

header nav ul li a:hover {
  color: #e65f78;
}

/* fvここから */
.firstview {
  height: 664px;
  display: flex;
  width: 100%;
  background-size: cover;
  background-image: url("../img/1stview.png") ;
}

.firstview .firstview_title {
  color: #fff;
  margin: auto;
  height: 177px;
  width: 643px;
  font-weight: normal;
  font-family: Arial;
  letter-spacing: 2px;
}

.firstview .firstview_title h2 {
  font-size: 24px;
  line-height: 28px;

}

.firstview .firstview_title h2 span {
  font-size: 59px;
  line-height: 68px;
}

/* 自己紹介ここから */
.aboutme {
  height: 477px;
  padding: 70px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 2px;
}

.aboutme .aboutme_title img{
  height: 333px;
  width: 536px;
  border-radius: 10px;
}

.aboutme .aboutme_second {
  height: 333px;
  width: 49%;
  font-size: 16px;
  line-height: 18px;

}

.aboutme .aboutme_second h2 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 23px;
  font-weight: 300;
  font-family: Arial, "メイリオ";
  font-style: normal;
  margin-top: 5px
}

.aboutme .aboutme_second p {
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  font-family: Arial, "メイリオ";
  font-style: normal;
}

.aboutme .aboutme_second ul {
  list-style: none;
  display: flex;
  margin-top: 40px;
}

.aboutme .aboutme_second ul li a {
  transition: all 0.3s ease 0s;
  padding-right: 20px;
}

.aboutme .aboutme_second ul li a:hover {
  fill: #e65f78;
}

/* スキルここから */
.skill {
  background: gray;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.skill .skill_top {
  background: black;
  height: 50px;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}

.skill .skill_second {
  background: black;
  height: 300px;
  width: 80%;
  margin: 20px auto;
}

/* 作品ここから */
.works {
  background: yellow;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.works .works_title {
  height: 50px;
  background: black;
  margin: 20px;
}

.works .works_second {
  background: black;
  height: 300px;
  margin: 20px;
}

/* 経歴ここから */
.timeline {
  background: pink;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.timeline .timeline_title {
  background: black;
  height: 50px;
  margin: 20px;
}

.timeline .timeline_second {
  background: black;
  height: 300px;
  margin: 20px;
}

/* 問合せここから */
.contack {
  background: skyblue;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.contack .contack_title {
  background: black;
  height: 20px;
  margin: 10px;
}

.contack .contack_second {
  background: black;
  height: 300px;
  margin: 20px;
}

/* フッターここから */
footer {
  background: navy;
  height: 100px;
  display: flex;
  flex-direction: column;
}

footer .footer_title {
  background: black;
  width: 300px;
  height: 20px;
  margin: 10px auto;
}

footer .footer_second {
  margin: 0 auto;
}
