@charset "utf-8";

/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea,{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}
/* ========================================
    全体設定
========================================= */
body {
	color:#474747;
	font-size: 14px;
	line-height: 1.4em;
	font-family: "メイリオ", "Meiryo", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}




/* micro clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {clear: both;}
.cf {*zoom: 1;}



/* body共通 */
body {
  margin: 0;
}

/* ヘッダーここから */
header {
  background: #fff;
  height: 60px;
  display: flex;
  padding: 0 5%;
  justify-content: space-between;
  align-items: center;
}

.sp-menu {
  margin-left: auto;
  padding: 0 16px;
}

.sp-menu #up {
  font-size: 32px;
  cursor: pointer;
}

.sp-menu #up.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 0 16px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #fold {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}

.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 24px;
}

header .header_title {
  height: 37px;
  font-weight: bold;
  font-style: normal;
  line-height: 37px;
  font-size: 32px;
  color: black;
  display: inline-block;
  margin: 12px 0 11px 10px;
  font-family: Arial;
}

header .header_title:hover {
  color: #e65f78;
}

header nav ul{
  height: 50px;
  display: flex;
  margin-top: 30px;
}

header nav ul li a{
  color: black;
  margin-left: 30px;
  font-size: 16px;
}

header nav ul li a:hover {
  color: #e65f78;
}

/* fvここから */
.firstview {
  height: 664px;
  display: flex;
  width: 100%;
  background-size: cover;
  background-image: url("../img/1stview.png") ;
}

.firstview .firstview_title {
  color: #fff;
  margin: auto;
  height: 177px;
  width: 643px;
  font-weight: normal;
  font-family: Arial;
  letter-spacing: 2px;
}

.firstview .firstview_title h2 {
  font-size: 24px;
  line-height: 28px;

}

.firstview .firstview_title h2 span {
  font-size: 59px;
  line-height: 68px;
}

/* 自己紹介ここから */
.aboutme {
  height: 477px;
  padding: 70px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 2px;
  color: #000000;
}

.aboutme .aboutme_title img{
  height: 333px;
  width: 536px;
  border-radius: 10px;
}

.aboutme .aboutme_second {
  height: 333px;
  width: 49%;
  font-size: 16px;
  line-height: 18px;

}

.aboutme .aboutme_second h2 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 23px;
  font-weight: 300;
  font-family: Arial, "メイリオ";
  font-style: normal;
  margin-top: 5px
}

.aboutme .aboutme_second p {
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  font-family: Arial, "メイリオ";
  font-style: normal;
}

.aboutme .aboutme_second ul {
  list-style: none;
  display: flex;
  margin-top: 40px;
}

.aboutme .aboutme_second ul li a {
  transition: all 0.3s ease 0s;
  padding-right: 20px;
}

.aboutme .aboutme_second ul li a:hover {
  fill: #e65f78;
}

/* スキルここから */
.skill {
  display: block;
  background: #f9f9f9;
  padding: 70px 5%;
  font-weight: bold;
  font-family: "Arial", "メイリオ";
  color: #000000;
}

.skill .skill_top {
  margin: 0 auto;
  margin-bottom: 40px;
  display: block;
  margin: 33px 0;
}

.skill .skill_top h2 {
  font-size: 40px;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
}

.skill .skill_second {
  width: 100%;
  margin: 20px auto;
  background-color: #fff;
}

.skill .skill_second table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  background: #fff;
}

.skill .skill_second table tr {
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.skill .skill_second table tr:hover {
  background-color: #d4f0fd;
}

.skill .skill_second table th,
.skill .skill_second table td {
  text-align: center;
  width: 20%;
  padding: 15px 0;
  font-weight: bold;
  font-size: 16px;
}

.skill .skill_second table td {
  background-size: 25px;
  background-position: left 70px center;
  background-repeat: no-repeat;
}

.skill .skill_second table td.html {
  background-image: url("../img/html-5.png");
}

.skill .skill_second table td.css {
  background-image: url("../img/css-3.png");
}

.skill .skill_second table td.js {
  background-image: url("../img/javascript.png");
}

.skill .skill_second table td.vuejs {
  background-image: url("../img/vue.png");
}

.skill .skill_second table td.nuxtjs {
  background-image: url("../img/nuxt-icon.png");
}

.skill .skill_second table td.firebase {
  background-image: url("../img/firebase.png");
}

.skill .skill_second table td.nodejs {
  background-image: url("../img/nodejs.png");
}

/* 作品ここから */
.works {
  background: white;
  padding: 70px 5%;
  font-family: Arial, "メイリオ";
  color: #000000;
}

.works .works_title {
  margin: 0 auto;
  margin-bottom: 40px;
  height: 40px;
}

.works .works_title h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-top: 33px;
}

.works ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-inline-start: 0;
  margin: 16px 0;
  height: 100%;
  width: 100%;
}

.works ul li {
  border: 2px solid #dcdcdc;
  margin-bottom: 20px;
  width: 32%;
  height: auto;
  border-radius: 10px;
}

.works ul li img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.works ul li .works_top {
  padding: 10px 20px;
}

.works ul li h3 {
  font-size: 19px;
}

.works ul li h3 span a{
  font-size: 12px;
  color: #0000EE;
  display: inline-block;
  padding: 10px 0 0 0;
}

.works ul li .works_top p {
  font-size: 14px;
  margin: 14px 0;
}

.works ul li .works_top
.works_second {
  text-align: right;
  font-size: 20px;
}

#open, #close {
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 5px 0;
  margin: 5px auto 0;
}

#open {
  text-decoration: underline dotted;
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal {
  background: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  transition: transform 1s ease-in-out ;
  z-index: 2;
}

#modal p {
  margin: 20px 0 20px;
}

#close {
  text-align: right;
  display: inline-block;
  font-size: 24px;
  padding-right: 10px;
}





#mask.hidden {
  display: none;
}

#modal.hidden {
  transform: translate( 0, -500px);
}

/* 経歴ここから */
.timeline {
  background: #f9f9f9;
  padding: 70px 5%;
  margin: 0 auto;
  width: 100%;
}

.timeline .timeline_title {
  margin: 0 auto;
  margin-bottom: 50px;
}

.timeline .timeline_title h2 {
  font-size: 40px;
  text-align: center;
  color: #000000;
  font-weight: 300;
  letter-spacing: 2px;
}

.timeline_line {
  display: flex;
  border-right: 2px dashed #cfcdcd;
  position: relative;
}

.content_box {
  padding-right: 10px;
  width: 80%;
  height: auto;
}

.timeline_yoko {
  width: 110px;
  height: 62px;
  border-bottom: 2px dashed #cfcdcd;
}

.timeline_line:nth-child(2) {
  margin-left: auto;
  border-left: 2px dashed #cfcdcd;
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
  border-right: none;
  position: relative;
  left: 2px;
}

.timeline_line:nth-child(2) h5 {
  text-align: left;
  padding: 10px 0 0 10px;
}

.timeline_line:nth-child(2) h4 {
  text-align: left;
  padding: 10px 0 0 10px;
}

.timeline_line:nth-child(2) p {
  text-align: left;
  padding: 10px 0 0 10px;
}

.content_second {
  text-align: left;
}

.timeline_content 
.timeline_line {
  width: 50%;
  padding-bottom: 40px;
}

.content_box h4 {
  font-size: 14px;
  color: #e65f78;
  margin-bottom: 40px;
  text-align: right;
  font-weight: 600;
}

.content_box h5 {
  font-size: 22px;
  color: #000000;
  text-align: right;
  margin-bottom: 23px;
  font-weight: 500;
}

.content_box h5:hover {
  color:  #e65f78;
}

.content_box p {
  font-size: 16px;
  color: #748182;
  line-height: 26px;
  text-align: right;
}

.content_box:hover {
  border: 2px dashed #cfcdcd;
}

.timeline_line:first-child::before {
  content: "";
  width: 11px;
  height: 11px;
  background: #cfcdcd;
  box-sizing: content-box;
  border: 5px solid #fff;
  box-shadow: 0 0 0 2px #cfcdcd;
  transform: rotate(45deg);
  position: absolute;
  right: -11px;
  top: -10px;
}

.timeline_line:last-child::after {
  content: "";
  width: 11px;
  height: 11px;
  background: #cfcdcd;
  box-sizing: content-box;
  border: 5px solid #fff;
  box-shadow: 0 0 0 2px #cfcdcd;
  transform: rotate(45deg);
  position: absolute;
  right: -11px;
  bottom: 0px;
}


/* 問合せここから */
.contact {
  padding: 70px 5%;
  width: 40%;
  margin: 0 auto;
  color: #000000;
}

.contact_title {
  margin: 0 auto;
  margin-bottom: 40px;
}

.contact_title h2 {
  font-size: 40px;
  text-align: center;
  margin: 33px 0;
  
}

.contact_title p {
  text-align: center;
}

.checkbox {
  position: relative;
}

.check {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 120px;
  top: 10px;
}

.contact form input {
  width: 100%;
  height: 50px;
  background: #e9cdc1;
  border-radius: 5px;
  margin-bottom: 40px;
  border-style: none;
}

.contact .check {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 220px;
  top: -22px; 
}

#message {
  background: #e9cdc1;
  border-style: none;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  font-size: 16px;
  display: block;
  margin: 40px auto;
  width: 50%;
  border-radius: 30px;
  background: black;
  color: white;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-style: none;
}

button:hover {
  background: pink;
}


/* フッターここから */
footer {
  padding: 40px 0;
  height: auto;
  background: black;
}

footer p {
  text-align: center;
  color: white;
  font-size: 15px;
}

footer ul li a {
  display: flex;
  justify-content: center;
  color: #551a8b;
}

footer ul li a p {
  margin: 0 10px 10px 10px;
}

footer ul li a p:hover {
  color: pink;
}



